
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="get" asp-action="Welcome">
        <p>
            <input type="text" name="Name"/>
        </p>
        <p>
            <input type="password" name="Password" />
        </p>
        <input type="submit" value="Sign-in"/>
    </form>
</div>
