@page 
@model Razor_Page_Intro.Pages.AboutModel
@using Razor_Page_Intro.Pages
@{
    //var foo = new IndexModel().foo;
}

<div class="text-center">
    <h1 style=" color: green;">About page</h1>
    @*<p>@foo("About")</p>*@
</div>
