table {
    width: 80%;
    min-width: 650px;
    max-width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: sans-serif;
}

caption{
    text-align: right;
    text-transform: uppercase;
    color: #34495e;
    font-weight: 900;
}

th{
    text-transform: uppercase;
}
tr th:first-child{
    color: #34495e;
}

td, th{
    text-align: center;
    padding: 1em 0;
    color: white;
}

tr td:first-child{
    text-align: left;
    color: #34495e;
    padding-left: 0.6em;
}

span{
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: white;
    line-height: 25px;
}

.col-1{
    background-color: #95a5a6;
    width: auto;
}
.col-2{
    background-color: #16a085;
    width: 17%;
}
.col-3{
    background-color: #f1c40f;
    width: 17%;
}
.col-4{
    background-color: #e74c3c;
    width: 17%;
}
.col-5{
    background-color: #3498db;
    width: 17%;
}
thead{
    border-bottom: 2px solid white;
}
tfoot{
    border-top: 2px solid white;
}