body{
    margin: 0;
    font-family: sans-serif;
}

header{
    text-align: center;
    background-color: #d35400;
    height: 150px;
    padding: 100px 0;
    border-color: red green;
}

h1{
    margin: 0;
    font-size: 3.5rem;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
}

h2{
    text-decoration: underline;
    text-decoration-style: dotted;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header h2{
    font-size: 3rem;
    color: white;
    margin: 20px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;

}

.half {
    width: 47%;
    float: left;
    padding: 1.5%;
}
.right-block{
    float: right;
    padding: 15px;
    margin-left: 10px;
}
.video{
    background-color: red;
    width: 20px;
    height: 20px;
    padding: 10px 15px 10px 28px;
    border-radius: 10px/14px;
    cursor: pointer;
}
.play{
    border: 10px solid transparent;
    border-left-color: white;
    
}

.container{
    max-width: 1200px;
    width: 90%;
    min-width: 768px;
    margin: auto;
}

.text-center{
    text-align: center;
}

.course{
    width: 17%;
    float: left;
    padding: 1.5%;
}

.price{
    text-align: right;
    font-weight: bold;
}
.price::before{
    content: "$";
}

.top{
    border: 3px double #666;
    background-color: #d35400;
    color: white;
    text-align: center;
    min-height: 120px;
    padding: 15px;
    font-family:Cambria, serif;
    border-top-right-radius: 20px;
}

.red{background-color: #c0392b;}
.blue{background-color: #2980b9;}
.violet{background-color: #8e44ad;}
.green{background-color: #16a085;}

.promo{
    width: 70%;
    background-color: #f1c40f;
    text-align: left;
    text-transform: uppercase;
    border-radius: 0 15px 15px 0;
    font-size: 10px;
    padding: 5px;
    padding-left: 15px;
    margin-left: -15px;
    margin-top: -5px;
    font-weight: bold;
    
}

.clearfix::before,
.clearfix::after{
    content: "";
    display: table;
}

.clearfix::after{
    clear: both;
}
